@using Projeto_N1B1_LP1.Enums
@model CurriculoViewModel

<link href="~/css/CreateCurriculo.css" rel="stylesheet" />
<script src="~/js/CreateCurriculo.js"></script>

<div class="formataDiv">
    <br />
    <h1 class="tituloPagina">Edição de Curriculo</h1>
    <br />
</div>
<br />
<form asp-action="Post">
    <input type="text" name="edicao" value="true" hidden />
    <input type="text" asp-for="Id" hidden />
    <section>
        <div class="container">
            <div class="row grid-divider formataDiv">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3>Informações Pessoais</h3>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 my-1">
                    <div class="card-body">
                        Nome <br />
                        <input class="form-control" type="text" asp-for="Nome" /><br />
                        CPF <br />
                        <input class="form-control" type="text" asp-for="CPF" /><br />
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 my-1">
                    <div class="card-body">
                        Endereço <br />
                        <input class="form-control" type="text" asp-for="Endereco" /> <br />
                        Telefone <br />
                        <input class="form-control" type="text" asp-for="Telefone" /> <br />
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 my-1">
                    <div>
                        <div class="card-body">
                            E-mail <br />
                            <input class="form-control" type="text" asp-for="Email" /> <br />
                            Pretensão salarial <br />
                            <input class="form-control" type="text" asp-for="PretensaoSalarial" /> <br />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 my-1">
                    <div>
                        <div class="card-body">
                            Cargo Pretendido <br />
                            <input class="form-control" type="text" asp-for="CargoPretendido" /> <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br />
    <section>
        <div class="container">
            <div class="row grid-divider formataDiv">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3>Formações academicas</h3>
                </div>
                <div id="ConteudoInternoFormacaoAcademica" class="row ConteudoInterno">
                    <div id="Formacao" class="row innerContent" @(Model.TipoFormacao1 == EnumTipoFormacao.None ? "hidden" : "")>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Tipo Formação <br />
                                <select class="form-control" asp-for="TipoFormacao1">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Fundamental</option>
                                    <option value="2">Medio</option>
                                    <option value="3">Tecnico</option>
                                    <option value="4">Tecnologo</option>
                                    <option value="5">Superior</option>
                                    <option value="6">Pos</option>
                                    <option value="7">Mestrado</option>
                                    <option value="8">Doutorado</option>
                                </select> <br />
                                Nome da Formação <br />
                                <input class="form-control" type="text" asp-for="TituloFormacao1" /> <br />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Data de início <br />
                                <input class="form-control" type="date" asp-for="DataInicioFormacao1" /> <br />
                                Data de Término <br />
                                <input class="form-control" type="date" asp-for="DataTerminoFormacao1" /> <br />
                            </div>
                        </div>
                    </div>
                    <div id="Formacao" class="row innerContent" @(Model.TipoFormacao2 == EnumTipoFormacao.None ? "hidden" : "")>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiFormacaoAcademica(1)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Tipo Formação <br />
                                <select class="form-control" asp-for="TipoFormacao2">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Fundamental</option>
                                    <option value="2">Medio</option>
                                    <option value="3">Tecnico</option>
                                    <option value="4">Tecnologo</option>
                                    <option value="5">Superior</option>
                                    <option value="6">Pos</option>
                                    <option value="7">Mestrado</option>
                                    <option value="8">Doutorado</option>
                                </select> <br />
                                Nome da Formação <br />
                                <input class="form-control" type="text" asp-for="TituloFormacao2" /> <br />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Data de início <br />
                                <input class="form-control" type="date" asp-for="DataInicioFormacao2" /> <br />
                                Data de Término <br />
                                <input class="form-control" type="date" asp-for="DataTerminoFormacao2" /> <br />
                            </div>
                        </div>
                    </div>
                    <div id="Formacao" class="row innerContent" @(Model.TipoFormacao3 == EnumTipoFormacao.None ? "hidden" : "")>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiFormacaoAcademica(2)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Tipo Formação <br />
                                <select class="form-control" asp-for="TipoFormacao3">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Fundamental</option>
                                    <option value="2">Medio</option>
                                    <option value="3">Tecnico</option>
                                    <option value="4">Tecnologo</option>
                                    <option value="5">Superior</option>
                                    <option value="6">Pos</option>
                                    <option value="7">Mestrado</option>
                                    <option value="8">Doutorado</option>
                                </select> <br />
                                Nome da Formação <br />
                                <input class="form-control" type="text" asp-for="TituloFormacao3" /> <br />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Data de início <br />
                                <input class="form-control" type="date" asp-for="DataInicioFormacao3" /> <br />
                                Data de Término <br />
                                <input class="form-control" type="date" asp-for="DataTerminoFormacao3" /> <br />
                            </div>
                        </div>
                    </div>
                    <div id="Formacao" class="row innerContent" @(Model.TipoFormacao4 == EnumTipoFormacao.None ? "hidden" : "")>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiFormacaoAcademica(3)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Tipo Formação <br />
                                <select class="form-control" asp-for="TipoFormacao4">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Fundamental</option>
                                    <option value="2">Medio</option>
                                    <option value="3">Tecnico</option>
                                    <option value="4">Tecnologo</option>
                                    <option value="5">Superior</option>
                                    <option value="6">Pos</option>
                                    <option value="7">Mestrado</option>
                                    <option value="8">Doutorado</option>
                                </select> <br />
                                Nome da Formação <br />
                                <input class="form-control" type="text" asp-for="TituloFormacao4" /> <br />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Data de início <br />
                                <input class="form-control" type="date" asp-for="DataInicioFormacao4" /> <br />
                                Data de Término <br />
                                <input class="form-control" type="date" asp-for="DataTerminoFormacao4" /> <br />
                            </div>
                        </div>
                    </div>
                    <div id="Formacao" class="row innerContent" @(Model.TipoFormacao5 == EnumTipoFormacao.None ? "hidden" : "")>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiFormacaoAcademica(4)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Tipo Formação <br />
                                <select class="form-control" asp-for="TipoFormacao5">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Fundamental</option>
                                    <option value="2">Medio</option>
                                    <option value="3">Tecnico</option>
                                    <option value="4">Tecnologo</option>
                                    <option value="5">Superior</option>
                                    <option value="6">Pos</option>
                                    <option value="7">Mestrado</option>
                                    <option value="8">Doutorado</option>
                                </select> <br />
                                Nome da Formação <br />
                                <input class="form-control" type="text" asp-for="TituloFormacao5" /> <br />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Data de início <br />
                                <input class="form-control" type="date" asp-for="DataInicioFormacao5" /> <br />
                                Data de Término <br />
                                <input class="form-control" type="date" asp-for="DataTerminoFormacao5" /> <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input id="btnAdicionaFormacao" onclick="javascript:adicionaFormacaoAcademica()" class="btn btn-success" type="button" value="Adicionar mais" />    <br />
                </div>
            </div>
        </div>
    </section>
    <br />
    <section>
        <div class="container">
            <div class="row grid-divider formataDiv">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3>Experiências profissionais</h3>
                </div>
                <div id="ConteudoInternoExperienciasProfissionais" class="row ConteudoInterno">
                    <div id="ExperienciaProfissional" class="row innerContent" @(Model.CargoOcupadoExp1 == null ? "hidden" : "")>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiExperienciaProfissional(0)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 my-1">
                            <div class="card-body">
                                Função  <br />
                                <input class="form-control" type="text" asp-for="CargoOcupadoExp1" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Data início <br />
                                <input class="form-control" type="date" asp-for="DataInicioExp1" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Data término <br />
                                <input class="form-control" type="date" asp-for="DataTerminoExp1" />
                            </div>
                        </div>
                    </div>
                    <div id="ExperienciaProfissional" class="row innerContent" @(Model.CargoOcupadoExp2 == null ? "hidden" : "")>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiExperienciaProfissional(1)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 my-1">
                            <div class="card-body">
                                Função  <br />
                                <input class="form-control" type="text" asp-for="CargoOcupadoExp2" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Data início <br />
                                <input class="form-control" type="date" asp-for="DataInicioExp2" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Data término <br />
                                <input class="form-control" type="date" asp-for="DataTerminoExp2" />
                            </div>
                        </div>
                    </div>
                    <div id="ExperienciaProfissional" class="row innerContent" @(Model.CargoOcupadoExp3 == null ? "hidden" : "")>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiExperienciaProfissional(2)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 my-1">
                            <div class="card-body">
                                Função  <br />
                                <input class="form-control" type="text" asp-for="CargoOcupadoExp3" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Data início <br />
                                <input class="form-control" type="date" asp-for="DataInicioExp3" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 my-1">
                            <div class="card-body">
                                Data término <br />
                                <input class="form-control" type="date" asp-for="DataTerminoExp3" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="col-md-12">
                    <input id="btnAdicionaExpProf" onclick="javascript:adicionaExperienciaProfissional()" class="btn btn-success" type="button" value="Adicionar mais" />    <br />
                </div>
            </div>
        </div>
    </section>
    <br />
    <section>
        <div class="container">
            <div class="row grid-divider formataDiv">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3>Dados de idioma</h3>
                </div>
                <div id="ConteudoInternoIdiomas" class="row ConteudoInterno">
                    <div id="Idioma" class="row innerContent" @(Model.Idioma1 == EnumIdiomas.None ? "hidden" : "")>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiIdioma(0)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Idioma <br />
                                <select class="form-control" asp-for="Idioma1">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Portugues</option>
                                    <option value="2">Ingles</option>
                                    <option value="3">Espanhol</option>
                                    <option value="4">Frances</option>
                                    <option value="5">Alemao</option>
                                    <option value="6">Mandarim</option>
                                    <option value="7">Arabe</option>
                                    <option value="8">Japones</option>
                                </select> <br />
                                Leitura<br />
                                <select class="form-control" asp-for="LeituraIdioma1">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Escuta <br />
                                <select class="form-control" asp-for="EscutarIdioma1">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                                Fala    <br />
                                <select class="form-control" asp-for="FalarIdioma1">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                            </div>
                        </div>
                    </div>
                    <div id="Idioma" class="row innerContent" @(Model.Idioma2 == EnumIdiomas.None ? "hidden" : "")>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiIdioma(1)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Idioma <br />
                                <select class="form-control" asp-for="Idioma2">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Portugues</option>
                                    <option value="2">Ingles</option>
                                    <option value="3">Espanhol</option>
                                    <option value="4">Frances</option>
                                    <option value="5">Alemao</option>
                                    <option value="6">Mandarim</option>
                                    <option value="7">Arabe</option>
                                    <option value="8">Japones</option>
                                </select> <br />
                                Leitura<br />
                                <select class="form-control" asp-for="LeituraIdioma2">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Escuta <br />
                                <select class="form-control" asp-for="EscutarIdioma2">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                                Fala    <br />
                                <select class="form-control" asp-for="FalarIdioma2">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                            </div>
                        </div>
                    </div>
                    <div id="Idioma" class="row innerContent" @(Model.Idioma3 == EnumIdiomas.None ? "hidden" : "")>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiIdioma(2)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Idioma <br />
                                <select class="form-control" asp-for="Idioma3">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Portugues</option>
                                    <option value="2">Ingles</option>
                                    <option value="3">Espanhol</option>
                                    <option value="4">Frances</option>
                                    <option value="5">Alemao</option>
                                    <option value="6">Mandarim</option>
                                    <option value="7">Arabe</option>
                                    <option value="8">Japones</option>
                                </select> <br />
                                Leitura<br />
                                <select class="form-control" asp-for="LeituraIdioma3">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Escuta <br />
                                <select class="form-control" asp-for="EscutarIdioma3">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                                Fala    <br />
                                <select class="form-control" asp-for="FalarIdioma3">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                            </div>
                        </div>
                    </div>
                    <div id="Idioma" class="row innerContent" @(Model.Idioma4 == EnumIdiomas.None ? "hidden" : "")>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiIdioma(3)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Idioma <br />
                                <select class="form-control" asp-for="Idioma4">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Portugues</option>
                                    <option value="2">Ingles</option>
                                    <option value="3">Espanhol</option>
                                    <option value="4">Frances</option>
                                    <option value="5">Alemao</option>
                                    <option value="6">Mandarim</option>
                                    <option value="7">Arabe</option>
                                    <option value="8">Japones</option>
                                </select> <br />
                                Leitura<br />
                                <select class="form-control" asp-for="LeituraIdioma4">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Escuta <br />
                                <select class="form-control" asp-for="EscutarIdioma4">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                                Fala    <br />
                                <select class="form-control" asp-for="FalarIdioma4">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                            </div>
                        </div>
                    </div>
                    <div id="Idioma" class="row innerContent" @(Model.Idioma5 == EnumIdiomas.None ? "hidden" : "")>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input onclick="javascript:excluiIdioma(4)" class="btn btn-danger" type="button" value="Excluir" />    <br />
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Idioma <br />
                                <select class="form-control" asp-for="Idioma5">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Portugues</option>
                                    <option value="2">Ingles</option>
                                    <option value="3">Espanhol</option>
                                    <option value="4">Frances</option>
                                    <option value="5">Alemao</option>
                                    <option value="6">Mandarim</option>
                                    <option value="7">Arabe</option>
                                    <option value="8">Japones</option>
                                </select> <br />
                                Leitura<br />
                                <select class="form-control" asp-for="LeituraIdioma5">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card-body">
                                Escuta <br />
                                <select class="form-control" asp-for="EscutarIdioma5">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                                Fala    <br />
                                <select class="form-control" asp-for="FalarIdioma5">
                                    <option value="0">Selecione...</option>
                                    <option value="1">Básico</option>
                                    <option value="2">Intermediário</option>
                                    <option value="3">Avançado</option>
                                    <option value="4">Fluente</option>
                                </select>     <br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <input id="btnAdicionaIdioma" class="btn btn-success" type="button" value="Adicionar mais" onclick="javascript:adicionaIdioma()" />    <br />
                </div>
            </div>
        </div>
    </section>
    <br />
    <div class="formataDiv">
        <input class="btn btn-success btnRodape" type="submit" contextmenu="Enviar" />
        <input onclick="javascript:window.back()" class="btn btn-success btnRodape" type="submit" value="Voltar" />
    </div>
</form>