@model List<CurriculoViewModel>

<div class="principal">
    <div class="divCabecalho">
        <button class="btn btn-outline-dark" style="margin-top: 20px; margin-bottom: 20px" type="button">Criar Novo Curriculo</button>
    </div>
    <div>
        @if (Model != null && Model.Count > 0)
        {   
            <table class="table table-responsive tablePrincipal">
                <thead>
                    <tr>
                        <th class="text-center">Ações</th>
                        <th class="text-center">CPF</th>
                        <th class="text-center">Nome</th>
                        <th class="text-center">Telefone</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Cargo Pretendido</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var curriculo in Model)
                    {
                        <tr>
                            <td class="align-middle">
                                <a type="button" class="btn btn-outline-info" href="/Curriculo/Visualizar?Id=@curriculo.Id">Visualizar</a>
                                <a type="button" class="btn btn-outline-success" href="/Curriculo/Edit?Id=@curriculo.Id">Editar</a>
                                <button type="button" class="btn btn-outline-danger" onclick="javascript:DeleteConfirmation(@curriculo.Id)">Apagar</button>
                            </td>
                            <td class="text-center align-middle">@curriculo.CPF</td>
                            <td class="text-center align-middle">@curriculo.Nome</td>
                            <td class="text-center align-middle">@curriculo.Telefone</td>
                            <td class="text-center align-middle">@curriculo.Email</td>
                            <td class="text-center align-middle">@curriculo.CargoPretendido</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

<link href="~/css/IndexCurriculo.css" rel="stylesheet" />
<script src="~/js/IndexCurriculo.js"></script>